/SoaringFlows.Core/.idea/
/SoaringFlows.Core/bin/
/SoaringFlows.Core/obj/
/SoaringFlows.Core/.DS_Store
/SoaringFlows.Core/SoaringFlows.Core.sln.DotSettings.user
/SoaringFlows.Core/SoaringFlows.Core.Test/bin/
/SoaringFlows.Core/SoaringFlows.Core.Test/obj/
/SoaringFlows.Core/SoaringFlows.Core.Test/.DS_Store